*
{
    margin: 0%;
    padding: 0%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.main
{
    padding: 3%;
}
.num1
{
    background-color: #f5f5f5;
    padding: 2%;
}
.num2
{
    background-color: #f5f5f5;
    padding: 2%;
    margin-top: 2%;
}
.num3
{
    background-color: #f5f5f5;
    padding: 2%;
    margin-top: 2%;
}
.num4
{
    background-color: #f5f5f5;
    padding: 2%;
    margin-top: 2%;
}
.num5
{
    background-color: #f5f5f5;
    padding: 2%;
    margin-top: 2%;
    
}